/* align */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
	width: 100%;
	padding: 0;
	margin: 0;
}
/* base grid (no clipping) */
gal {
	--image-size: 200px;
	--grid-gap: .25rem;
	--grid-size: calc(var(--image-size) / 2 - var(--grid-gap));
	gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat(6, var(--grid-size));
	grid-template-rows: repeat(3, var(--grid-size));
	/* tweak position due to overflow */
	position: relative;
	top: calc(var(--image-size) * -0.25)
}
img {
	width: var(--image-size);
	height: var(--image-size);
	/* aspect-ratio: 1; */
	object-fit: cover;
	grid-column-end: span 2;
	/* grid-row-end: span 2; */
}
img:nth-child(4) {
	grid-column-start: 2;
}
/* clipping */
img {
	clip-path: path(
		"m 110.89733,14.937229 37.06454,37.06454 37.06454,37.064536 c 3.02359,3.023595 4.5354,6.969556 4.53539,10.915512 1e-5,3.945963 -1.51179,7.891923 -4.53539,10.915523 l -37.06454,37.06453 -37.06454,37.06454 c -3.02359,3.0236 -6.96955,4.5354 -10.915518,4.53539 -3.94595,1e-5 -7.89191,-1.51179 -10.91551,-4.53539 L 52.001768,147.96187 14.937228,110.89734 c -3.023599,-3.0236 -4.535396,-6.96956 -4.535396,-10.915521 -1e-6,-3.945959 1.511797,-7.891919 4.535396,-10.915517 L 52.001765,52.001766 89.066302,14.937228 c 3.0236,-3.023598 6.96956,-4.535396 10.91552,-4.535396 3.945958,10e-7 7.891918,1.511799 10.915508,4.535397 z"
	);
}
img:hover {
    border-radius: .5rem;
	clip-path: path(
		"m 121.81284,-10.107358 76.12908,12.12908 12.12908,76.129072 c 1.34556,8.445494 9.0708,13.939112 9.07078,21.831024 2e-5,7.891922 -7.46958,13.430242 -9.07078,21.831042 l -12.12908,76.12906 -76.12908,12.12908 c -8.4455,1.34556 -13.9391,9.0708 -21.831032,9.07078 -7.8919,2e-5 -13.430222,-7.46958 -21.83102,-9.07078 L 2.02172,197.94192 -10.10736,121.81286 c -1.345562,-8.44552 -9.070792,-13.93912 -9.070792,-21.831038 -2e-6,-7.891918 7.469592,-13.43024 9.070792,-21.831034 L 2.021714,2.021716 78.150788,-10.10736 c 8.445513,-1.34556 13.93912,-9.070792 21.83104,-9.070792 7.891912,2e-6 13.430232,7.469596 21.831012,9.070794 z"
	);
}
/* animation */
img {
	transition: clip-path 500ms;
}
/* z-index fix */
img:hover {
	z-index: 20;
}
img:not(:hover) {
	animation: zIndexHack 500ms;
}
@keyframes zIndexHack {
	0%, 100% {
		z-index: 10;
	}
}