/* align */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
	width: 100%;
	padding: 0;
	margin: 0;
}
/* base grid (no clipping) */
gal {
	--image-size: 200px;
	--grid-gap: .25rem;
	--grid-size: calc(var(--image-size) / 2 - var(--grid-gap));
	gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat(6, var(--grid-size));
	grid-template-rows: repeat(3, var(--grid-size));
	/* tweak position due to overflow */
	position: relative;
	top: calc(var(--image-size) * -0.25)
}
img {
	width: var(--image-size);
	height: var(--image-size);
	/* aspect-ratio: 1; */
	object-fit: cover;
	grid-column-end: span 2;
	/* grid-row-end: span 2; */
}
img:nth-child(4) {
	grid-column-start: 2;
}
/* clipping */
img {
	clip-path: path(
		"m 110.89733,14.937229 37.06454,37.06454 37.06454,37.064536 c 3.02359,3.023595 4.5354,6.969556 4.53539,10.915512 1e-5,3.945963 -1.51179,7.891923 -4.53539,10.915523 l -37.06454,37.06453 -37.06454,37.06454 c -3.02359,3.0236 -6.96955,4.5354 -10.915518,4.53539 -3.94595,1e-5 -7.89191,-1.51179 -10.91551,-4.53539 L 52.001768,147.96187 14.937228,110.89734 c -3.023599,-3.0236 -4.535396,-6.96956 -4.535396,-10.915521 -1e-6,-3.945959 1.511797,-7.891919 4.535396,-10.915517 L 52.001765,52.001766 89.066302,14.937228 c 3.0236,-3.023598 6.96956,-4.535396 10.91552,-4.535396 3.945958,10e-7 7.891918,1.511799 10.915508,4.535397 z"
	);
}
img:hover {
	clip-path: path(
		"m 150.40183,0.40186175 50,-3e-5 3e-5,50.00000425 3e-5,49.999994 2e-5,50 3e-5,50 -50,3e-5 -50,2e-5 -50.000001,3e-5 -50.00000128,3e-5 -2.8e-5,-50 -2.4e-5,-50 -2.7e-5,-49.999999 -2.7e-5,-49.99999925 50.00000028,-3e-5 49.999998,-2e-5 z"
	);
}
/* animation */
img {
	transition: clip-path 500ms;
}
