/* align */
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100svh;
	width: 100%;
	padding: 0;
	margin: 0;
}
/* base grid (no clipping) */
gal {
	--image-size: 200px;
	--grid-gap: .25rem;
	--grid-size: calc(var(--image-size) / 2 - var(--grid-gap));
	gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat(6, var(--grid-size));
	grid-template-rows: repeat(3, var(--grid-size));
	/* tweak position due to overflow */
	position: relative;
	top: calc(var(--image-size) * -0.25)
}
img {
	width: var(--image-size);
	height: var(--image-size);
	/* aspect-ratio: 1; */
	object-fit: cover;
	grid-column-end: span 2;
	/* grid-row-end: span 2; */
}
img:nth-child(4) {
	grid-column-start: 2;
}
/* clipping */
img {
	clip-path: path(
		"m 110.89733,14.937229 37.06454,37.06454 37.06454,37.064536 c 3.02359,3.023595 4.5354,6.969556 4.53539,10.915512 1e-5,3.945963 -1.51179,7.891923 -4.53539,10.915523 l -37.06454,37.06453 -37.06454,37.06454 c -3.02359,3.0236 -6.96955,4.5354 -10.915518,4.53539 -3.94595,1e-5 -7.89191,-1.51179 -10.91551,-4.53539 L 52.001768,147.96187 14.937228,110.89734 c -3.023599,-3.0236 -4.535396,-6.96956 -4.535396,-10.915521 -1e-6,-3.945959 1.511797,-7.891919 4.535396,-10.915517 L 52.001765,52.001766 89.066302,14.937228 c 3.0236,-3.023598 6.96956,-4.535396 10.91552,-4.535396 3.945958,10e-7 7.891918,1.511799 10.915508,4.535397 z"
	);
}
img:hover {
	border-radius: 1rem;
	clip-path: path(
		"M 153.5823,-2 237.4825,-29.393838 202,48.384006 c -3.54953,7.780598 2e-5,43.724082 0,51.615994 2e-5,7.89192 -3.38749,43.14147 0,50.994 l 35.4825,91.51021 -85.26922,-38.67898 C 144.12895,201.03586 121.01607,204 100.99789,203.14178 80.979705,202.28356 57.589816,198.3027 49.782491,201.7931 L -33.988457,242.50421 -2,148.96187 C 1.3110666,141.07681 -2,107.89192 -2,100 c -2e-6,-7.891918 4.1628468,-46.518256 0,-53.988723 L -33.988457,-29.393838 50.715787,-2 C 65.443005,2.7628667 80.746487,-3.8198937 100,-2 c 19.94614,1.8853624 38.45489,2.6009986 53.5823,0 z"
       
	);
}
/* clip-path animation */
:root {
	--animation-time: 1000ms;
}
img {
	transition: clip-path var(--animation-time);
}
/* z-index fix */
img:hover {
	z-index: 20;
}
img:not(:hover) {
	animation: zIndexHack var(--animation-time);
}
@keyframes zIndexHack {
	0%, 100% {
		z-index: 10;
	}
}
/* expose hovered image */
gal:has(:hover) img:not(:hover),
gal:has(:focus) img:not(:focus){
	filter: brightness(.5) saturate(0.4);
}
img {
	transition:
		filter var(--animation-time),
		clip-path var(--animation-time);
}
